@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
* {
    padding: 0;
    margin: 0;
}



/*************Header****/
header{
    background-color: #41B3A3;
    display:flex;
    justify-content: center;
    align-items: center ;
    padding:30px 10%;
}

li a{
    text-decoration: none;
    font:"Montserrat",sans-serif;
    font-weight:400;
    font-size:25px;
    padding: 10px;
    text-transform: uppercase;
    color:black;

}
nav li{
    list-style-type: none;
    display: inline-block;
}

nav li a{
    transition: all 0.3s ease 0s;
}

nav li a:hover{
    color:white;
}

#hero-main{
    background: url(/photos/heromentor.jpg) no-repeat center center/cover;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.sign-up{ 
    border: none;
    border-radius: 40px;
    background:#41B3A3;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
    font-size: 20px;
    
  
}

.sign-up a{text-decoration: none;

}

.sign-up:hover{
    color:white;
}



/* --------BODY-----------
-----------------------------
----------------------------- */



/* Info Cards */
.infoCards{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
}

.card-1, .card-2, .card-3{
    border: 5px dashed #41b3a3;
    background-color: rgb(230, 224, 224);
    margin: 5px;
    text-align: center;
    border-radius: 1em;
}


/* HOW IT WORKS */

.hiwGrid {
    height: 300px;
    width: 100%;
    padding: 60px 0px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
}









/* CONTACT FORM */

.contactGrid {
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    padding: 20px;
}


.formContainer {
    padding: 15px;
}

.contactForm li {
    list-style: none;
    margin: 15px 15px;
}

input[type=text], textarea {
    padding: 5px 10px;
    /* margin: 8px 8px; */
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    box-shadow: none;
    outline: none;
  }

textarea {
    width: 80%;
}

input[type=submit] {
    width: 50%;
    background-color: #2E4756;
    /* color:whitesmoke; */
    font-size: medium;
    font-family: Helvetica,Arial,sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
  }



/* --------FOOTER -----------
-----------------------------
----------------------------- */

.footerContainer {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-between;
}

.footerContainer h3 {
    padding: 20px;
}

.contactUs {
    width: 300px;
    text-align: center;
    text-decoration: none;
}

.contactUs ul {
    list-style: none;
}

.socialMedia {
    width: 300px;
    text-align: center;
}

.socialMedia li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

.quickLinks {
    width: 300px;
    text-align: center;
}

.quickLinks ul {
    list-style: none;
    text-decoration: none;
}

.copyright p {
    text-align: center;
}