@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
/*************Header****/
header{
    background-color: #41B3A3;
    display:flex;
    justify-content: space-between;
    align-items: center ;
    padding:30px 10%;
}

li a{
    text-decoration: none;
    font-weight:400;
    font-size:18px;

}


nav li{
    list-style-type: none;
}
#hero-main{
    min-height:500px;
}




/* --------FOOTER -----------
-----------------------------
----------------------------- */

.container {
    width: 100%;
    height: 300px;
    /* display: inline-block; */
}

.contactUs ul {
    list-style: none;
}

.socialMedia ul {
    list-style: none;
}