/* INDEX*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}



/*************Header****/
header{
    background-color: #41B3A3;
    padding:30px 2%;
   
    
}
.logoitem{
    justify-self: flex-end;
}

nav{
    
    background-color: #41B3A3;
    display:flex;
    justify-content: center;
    align-items: center ;
    padding:30px 10%;
   

}


.logo{
   float: left;
   height:100px;
 
}

li a{
    text-decoration: none;
    font:"Montserrat",sans-serif;
    font-weight:400;
    font-size:25px;
    padding: 10px;
    text-transform: uppercase;
    color:black;

}
nav li{
    list-style-type: none;
    display: inline-block;
}

nav li a{
    transition: all 0.3s ease 0s;
}

nav li a:hover{
    color:white;
}
/*************************Header Ends********************************/

/***********************Main Content******************************/
#main-container{
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top:100px;
}
/* Profile cards */
#main-container div { 
    background-color: white;
    width:auto;
    border:1px solid black;
    width: 400px;
    margin: 10px;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
   max-width:100%;
}  
/* First + Last name */
#main-container h3{
    padding:20px;
    color:#8A3E07;
    font-size:25px;
    text-transform: uppercase;
  }
  
/* Profession */
#main-container h4{
    font-style: italic;
    color:#999;
    margin-bottom: 15px;
    font-size: 20px;
}

/* All stats */
#main-container p {
    /* margin:20px 0; */
    text-align: center;
    font-weight: lighter;
    line-height: 15px;
    /* columns:gray; */
}

/* Profile Image */
#main-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Select Mentor Button */
#main-container button {
    color: blue;
}


  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    color:#444;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 20px solid #41B3A3;
    width: 800px;
    margin:auto;
    line-height: 80px;
  }
  
  
  
 
   
  
  .members:hover {
    background: #ddd;
  }
  
  .members img{
      width: 100px;
      height:100px;
      border:1px solid #E1e0DE;
      border-radius: 50%;
      }
  
      
  
  

  /**************************Main Content Ends*****************************/


#hero-main{
    background: url("../photos/heromentor.jpg") no-repeat center center/cover;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAP API */
#map {
    height: 500px;
    width: 100%;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
   
   
}

.sign-up{ 
    border: none;
    border-radius: 40px;
    background:#e8a87c;
    color: white;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
    font-size: 30px;
    
  
}

.sign-up a{
    transition: all 0.3s ease 0s;
    color:black;
    text-decoration: none;
}

.sign-up a:hover{
    color: white;
}
.sign-up-bottom{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background:#e8a87c;
    color: #f9f9f9;
    padding: 10px 37px;
    font-size: 40px;
    

}
.signupbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding: 50px;
}

.sign-up-bottom a{
    text-decoration: none;
    color:black;
}



.sign-up-bottom a:hover{
    color:white;
}

.sign-up:hover{
    color:white;
}



/* --------BODY-----------
-----------------------------
----------------------------- */



/* Info Cards */
/*Info Card Title: What We Do*/

.whatWeDo {
    /* background-color: #e27d60; */
    height: 150px;
}

.whatWeDo h2 {
    text-align: center;
    padding-top: 50px;
    color: #41B3A3;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 100px;
    height: 80px;
    /* margin-top: 20px;
    margin-bottom: 10px; */
}

.infoCards{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
}

.infoCards h3 {
    font-size: 35px;
    text-decoration: underline;
    padding-bottom: 40px;
    padding-top: 30px;
}

.infoCards p {
    line-height: 30px;

}

.card-1, .card-2, .card-3{
   
    border: 2px solid #41b3a3;
    background-color: rgb(230, 224, 224);
    margin: 5px;
    text-align: center;
    border-radius: 1em;
    width: 320px;
}

/* HOW IT WORKS */

.hiwGrid {
    height: 300px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 150px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
}

.rightSide h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.rightSide ol {
    line-height: 35px;
    padding-left: 80px;
}

.leftSide {
    background: url("../photos/howitworks.jpg") no-repeat center center/cover;
}


/* Featured Mentors */
/*Title*/

.featMentors {
    background-color: #e27d60;
    height: 150px;
}

.featMentors h2 {
    text-align: center;
    padding-top: 15px;
    color: #41b3a3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 100px;
}

.mentors{
    height: 380px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 20px;
    background: rgb(230, 224, 224);
    color: black;
    text-decoration: none;
    padding-bottom: 25px;
}

.mentors h3 {
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.mentors ul {
    font-size: 17px;
    line-height: 20px;
}


#mentor-1, #mentor-2, #mentor-3, #mentor-4{
    text-align: center;
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    margin: 15px;
    height: 345px;
    width: 25%;
    /* background-color: #41b3a3; */
}

 .mentor-img { 
    width: 155px;
    height: 155px;
    border:1px solid #E1e0DE;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    object-fit: cover;
}

.mentors ul {
    list-style: none;
}

/*****************SIGN UP PAGE ***************/

.suGrid {
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    padding: 20px;
    /* background-color: #e8a87c; */
    /* width: 90%; */
}

.suFormcontainer {
    padding-left: 150px;
}
.suHero h2 {
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: 50px;
    height: 80px;
}

.suHero h3 {
    font-size: 25px;
    color: #E27D60;
}


.signUp fieldset {
    border: none;
    margin-bottom: 20px;
}

.signUp legend {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 30px;
    color: #E27D60;
}

.signUp label {
    display: block;
    margin-bottom: 10px;
}

.signUp li {
    list-style: none;
    margin-bottom: 30px;
    
}

.signUp input[type=text] {
    padding: 5px 10px;
    margin: 10px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    /* width: 200px; */
}

input[type=radio] {
 margin: 0px 10px;
}

.featured-img {
 position: relative;
}

/*Buttons*/
.buttons{
    display:flex;
    justify-content: center;
    float: right;
    
}
#submitBtn, #cancelBtn, #photoBtn{
    border: none;
    border-radius: 40px;
    background:#41B3A3;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 50px 0 20px 20px;
    width: 200px;
    font-size: 20px;
    text-decoration: none;
}
/* .btn-submit:hover, .btn-cancel:hover{
    color: purple;
} */

#submitBtn a{
    text-decoration: none;
    color:white;
}




/****************** CONTACT FORM PAGE ************/

.contactGrid {
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    padding: 20px;
}


.formContainer {
    padding: 15px;
}

.suHero{
    text-align: center;
    
}

.suHero h2{
    font-size:60px;
}

.heroContainer {
    text-align: center;
    margin: 30px;
}

.heroContainer h2 {
    font-size: 60px;
}

.heroContainer h3 {
    font-size: 25px;
    color: #E27D60;
}

.contactForm li {
    list-style: none;
    margin: 30px 15px;
}

label {
    line-height: 30px;
    font-size: 20px;
    margin-right: 15px;
}

.selectCss {
    width: 25%;
    padding: 20px;
    font-size: 15px;

}

#comments {
    display: block;
}

input[type=text], textarea {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

textarea {
    width: 80%;
}

#contactBtn {
    border: none;
    border-radius: 40px;
    background:#e8a87c;
    color: black;
    padding: 10px 37px;
    margin: 10px 0 20px 60px;
    font-size: 20px;
    
}
#contactBtn:hover{
    color:white;
}

.contactInfo {
    margin-top: 20px;
    margin-right: 70px;
    text-align: center;
}

.contactInfo h3 {
    font-size: 40;
    color: #E27D60;
}

.contactInfo li {
    list-style: none;
    margin: 35px;
    
}

#map {
    max-height: 300px;
    width: 100%;
}

#submitBtn{
    text-decoration: none;
    color:white;
}


/* --------FOOTER -----------
-----------------------------
----------------------------- */

footer{
    margin-top:300px;
    background-color: #41B3A3;
    position: relative;
    bottom: 0;
}

.footerContainer {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: space-between;
}

.footerContainer h3 {
    padding: 20px;
}

.contactUs {
    width: 300px;
    text-align: center;
    text-decoration: none;
}

.contactUs ul {
    list-style: none;
}

.socialMedia {
    width: 300px;
    text-align: center;
}

.socialMedia li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

.socialMedia a:hover {
    color: white;
}

.quickLinks {
    width: 300px;
    text-align: center;
}

.quickLinks ul {
    list-style: none;
    text-decoration: none;
}

.copyright p {
    text-align: center;
}

