<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You have made it to the match page</h1>
    <div id="profile1">
        <h3>James jamethon</h3>
        <p>Profession: Development</p>
    </div>
    <div id="profile2">
        <h3>James jamethon</h3>
        <p>Profession: Development</p>
    </div>
    <div id="profile3">
        <h3>James jamethon</h3>
        <p>Profession: Development</p>
    </div>
</body>
</html>